<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.madaka.mapper.RegisterMapper">

  <!-- 1件登録 -->
  <insert id="insert" parameterType="com.example.madaka.repository.RegisterRepository">
    INSERT INTO madaka.late_his_tbl
      (late_id, emp_id, late_datetime, late_reason, late_min,
       train_delay_min, train_id, start_time, update_datetime, note)
    VALUES
      (#{lateId}, #{empId}, #{lateDatetime}, #{lateReason}, #{lateMin},
       #{trainDelayMin}, #{trainId}, #{startTime}, #{updateDatetime}, #{note})
  </insert>

</mapper>
