<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メインメニュー</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div th:replace="header :: header"></div>
    <div style="text-align:center; margin-top:80px;">
        <h1 style="margin-bottom:40px;">メインメニュー</h1>

        <div style="display:inline-block; padding:30px 50px; border:1px solid #ccc; border-radius:10px; background:#fafafa;">
            <ul style="list-style:none; padding:0; margin:0;">
                <li style="margin:20px 0;">
                    <a th:href="@{/madaka/register}"
                       style="display:inline-block; padding:12px 30px; background:#1e88e5; color:white; text-decoration:none; border-radius:6px;">
                       登録
                    </a>
                </li>
                <li style="margin:20px 0;">
                    <a th:href="@{/madaka/search}"
                       style="display:inline-block; padding:12px 30px; background:white;color:#1e88e5;border:2px solid #1e88e5;text-decoration:none; border-radius:6px;">
                       検索
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <script src="/js/loadHeader.js"></script>
</body>
</html>